alembic
altair
appdirs
astroid
attrs
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
decorator
dill
et_xmlfile
Flask
Flask-Dance
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
frozendict
future
geocoder
gevent
gitdb
GitPython
greenlet
html5lib
idna
importlib-metadata
isort
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
lazy-object-proxy
lxml
Mako
markdown-it-py
MarkupSafe
mccabe
mdurl
multitasking
narwhals
nsepython
numpy
oauthlib
openpyxl
packaging
pandas
Pillow
platformdirs
plotly
protobuf
pyarrow
pycparser
pydeck
Pygments
pylint
python-dateutil
python-dotenv
pytz
#pywin32
ratelim
referencing
requests
requests-oauthlib
rich
rpds-py
scipy
setuptools
six
smmap
soupsieve
SQLAlchemy
streamlit
tenacity
toml
tomlkit
tornado
typing_extensions
tzdata
tzlocal
urllib3
URLObject
validators
watchdog
webencodings
websocket
Werkzeug
#WMI
wrapt
yfinance
zipp
zope.event
zope.interface
gunicorn
pyotp
